{% extends 'RAAFPAGEAdBundle::layout.html.twig' %}

{% block javascripts %}
{% javascripts '@RAAFPAGEAdBundle/Resources/public/js/fileUploader/*' output='js/compiled/main.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block page_content %}

    <form action="{{ path('edit_add', {'id': property.id}) }}" class="form-upload-add" novalidate
    method="post" enctype="multipart/form-data" id="MyUploadForm">
    <div class="block-container">
        {% if error != '' %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <p class="form-group">
            {{ form_label(form.title, null, {'label_attr': {'title': 'Ad title', 'class':'label'}}) }}
            {{ form_widget(form.title) }}
        </p>

        <p class="form-group">
            {{ form_label(form.description, null, {'label_attr': {'title': 'Description'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'textarea' }}) }}
        </p>

    </div>

    <div class="block-container">
        <!-- spinner loading image -->
        <img src="{{ asset('images/ajax-loader.gif') }}" id="loading-img" style="display:none;" alt="Please Wait"/>
        <div class="img-wrap">
            <div class="output" data-image-id="{{ temporaryAdId }}_1">
                <img src="{{ asset('images/noimage.png') }}" id="no-image" class="no-image"/>
                <input name="image_file" class="image_file" id="imageInput" type="file" />
            </div>
        </div>
        <div class="img-wrap">
            <div class="output" data-image-id="{{ temporaryAdId }}_2">
                <img src="{{ asset('images/noimage.png') }}" id="no-image" class="no-image"/>
                <input name="image_file" class="image_file" id="imageInput" type="file" />
            </div>
        </div>
        <div class="img-wrap">
            <div class="output" data-image-id="{{ temporaryAdId }}_3">
                <img src="{{ asset('images/noimage.png') }}" id="no-image" class="no-image"/>
                <input name="image_file" class="image_file" id="imageInput" type="file" />
            </div>
        </div>
        <div class="img-wrap">
            <div class="output" data-image-id="{{ temporaryAdId }}_4">
                <img src="{{ asset('images/noimage.png') }}" id="no-image" class="no-image"/>
                <input name="image_file" class="image_file" id="imageInput" type="file" />
            </div>
        </div>
        <!-- extra row to be used for remove image -->
            <div id="no_image_hidden">
                <div class="output" data-image-id="{{ temporaryAdId }}_2" style="display: none;">
                    <img src="{{ asset('images/noimage.png') }}" id="no-image" class="no-image"/>
                    <input name="image_file" class="image_file" id="imageInput" type="file" />
                </div>
            </div>
        <div class="block-container">
        <p class="form-group">
            {{ form_label(form.rent, null, {'label_attr': {'title': 'Rent'}}) }}
            <error>{{ form_errors(form.rent) }}</error>
            {{ form_widget(form.rent) }}
        </p>

        <p class="form-group">
            {{ form_label(form.date_available, null, {'label_attr': {'title': 'Rent'}}) }}
            <error>{{ form_errors(form.date_available) }}</error>
            {{ form_widget(form.date_available) }}
        </p>
    </div>

    <div class="block-container">
        <p class="form-group">
            {{ form_label(form.available_to_couple, null, {'label_attr': {'title': 'Rent'}}) }}
            <error>{{ form_errors(form.available_to_couple) }}</error>
            {{ form_widget(form.available_to_couple) }}
        </p>

        <p class="form-group">
            {{ form_label(form.is_agent) }}
            <error>{{ form_errors(form.is_agent) }}</error>
            {{ form_widget(form.is_agent) }}
        </p>
    <p class="form-group">
        {{ form_label(form.rent_period) }}
        <error>{{ form_errors(form.rent_period) }}</error>
        {{ form_widget(form.rent_period) }}
    </p>
    <p class="form-group">
        {{ form_label(form.link) }}
        <error>{{ form_errors(form.link) }}</error>
        {{ form_widget(form.link) }}
    </p>
    <p class="form-group">
        {{ form_label(form.property_type) }}
        <error>{{ form_errors(form.property_type) }}</error>
        {{ form_widget(form.property_type) }}
    </p>
    </div>

    <div class="block-container">
        Please select at least one following option to be contacted by:<br>
        <p class="form-group">
            {{ form_widget(form.contact_email) }} Contact Email {{ form_widget(form.contact_email_address) }}
        </p>

        <p class="form-group">
            {{ form_widget(form.contact_phone) }} Contact Number {{ form_widget(form.contact_phone_number) }}
        </p>

        <p class="form-group">
            Contact Name:   {{ form_widget(form.contact_name) }}
        </p>

        <p class="form-group">
            {% for type in types %}
                {% set checked = '' %}
                {% for t in property.adTypes %}
                    {% if t.id == type.id %}
                        {% set checked = 'checked == "checked"' %}
                    {% endif %}
                {% endfor %}
                <label>{{ type.name }}</label>
                <input type="checkbox" name="add_type[]" value="{{ type.id }}" {{ checked }}>
            {% endfor %}
        </p>
    </div>
    <input type="temporaryAdId" value="{{ temporaryAdId }}" type="hidden">
    <div class="block-container">

        <input type="submit" name="Save" value="Save" id="save">
        {{ form_rest(form) }}
    </div>
    </form>

{% endblock %}