{% extends 'RAAFPAGEAdBundle::layout.html.twig' %}
{% block page_css %}
    {% block javascripts %}
        {% javascripts output='js/compiled/post-ad.js'
        '@RAAFPAGEAdBundle/Resources/public/js/fileUploader/jquery-1.10.2.min.js'
        '@RAAFPAGEAdBundle/Resources/public/js/fileUploader/post-ad.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% stylesheets output="bundles/adBundle/css/post-ad.css"
    '@RAAFPAGEAdBundle/Resources/public/css/post-ad.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
    <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block page_content %}
    <div id="post-ad-container">
        <div class="section-container">
            {% for category in categories %}
                <div class="list-item category" id="{{ category.name|lower }}">{{ category.display }}</div>
            {% endfor %}
        </div>

       {% for category in categories %}
        <!-- level 1 -->
        <div class="section-container sub-category hide" id="property-content">
            {% for subCategory in subCategories %}
                {% if subCategory.category.id == category.id and  subCategory.depth == 1%}
                    <div class="list-item subcategory" id="sub-category-{{ subCategory.id }}">{{ subCategory.display }}</div>
                {% endif %}
            {% endfor %}
        </div>
       {% endfor %}
        <!-- level 1 end -->

        <!-- level 2 -->
        {% for category in categories %}
            {% for subCategory in subCategories %}
                {% if subCategory.category.id == category.id and  subCategory.depth == 1%}
                <div class="section-container hide subcategory-container" id="sub-category-{{  subCategory.id }}-content">
                    {% for subSubCategory in subCategories %}
                        {% if subSubCategory.depth == 2 and subSubCategory.parent.id == subCategory.id %}
                            <div class="list-item subsubcategory" id="sub-sub-category-{{ subSubCategory.id }}">{{ subSubCategory.display }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <!-- level 2 end -->

        <!-- level 3 -->
        {% for category in categories %}
            {% for subCategory in subCategories %}
                {% if subCategory.category.id == category.id and  subCategory.depth == 2%}
                    <div class="section-container hide ads" id="sub-sub-category-{{  subCategory.id }}-content">
                        {% for subSubCategory in subCategories %}
                            {% if subSubCategory.depth == 3 and subSubCategory.parent.id == subCategory.id %}
                                <div class="list-item"><a href="{{ path('add_ad', { 'id': subSubCategory.id }) }}">{{ subSubCategory.display }}</a></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <!-- level 3 end-->
    </div>

{% endblock %}