{% extends 'RAAFPAGEAdBundle::layout.html.twig' %}

{% block page_content %}
    <form id="property_form" action="{{ path('upload_add') }}" class="form-upload-add" novalidate
          method="post" {{ form_enctype(form) }}">

        <div class="new-recipe-alert alert alert-danger hide">
            Please fill all mandatory fields
        </div>

        <div class="form-group">
            <label>
                {{ form_label(form.title, null, { 'label_attr': {'data-placement' : 'right', 'data-toggle': 'tooltip', 'title' : 'This is the main title for your add'} } ) }}
            </label>
            {% if form_errors(form.title) is not empty %}<p class="text-danger">{{ form_errors(form.title) }}</p>{% endif %}
            {{ form_widget(form.title, {'attr': {'class': 'form-control' }} ) }}
        </div>

        <div class="form-group">
            <label>
                {{ form_label(form.description, null, { 'label_attr': {'data-placement' : 'right', 'data-toggle': 'tooltip', 'title' : 'This is the main title for your add'} } ) }}
            </label>
            {% if form_errors(form.description) is not empty %}<p class="text-danger">{{ form_errors(form.description) }}</p>{% endif %}
            {{ form_widget(form.description, {'attr': {'class': 'form-control' }} ) }}
        </div>

        <div class="form-group">
            <label>
                {{ form_label(form.rent, null, { 'label_attr': {'data-placement' : 'right', 'data-toggle': 'tooltip', 'title' : 'This is the main title for your add'} } ) }}
            </label>
            {% if form_errors(form.rent) is not empty %}<p class="text-danger">{{ form_errors(form.rent) }}</p>{% endif %}
            {{ form_widget(form.rent, {'attr': {'class': 'form-control' }} ) }}
        </div>

        <button type="submit">Save</button>
        {{ form_rest(form) }}
    </form>
{% endblock %}