{% extends 'RAAFPAGEUserBundle::layout.html.twig' %}

{% block title %}RAAF PAGE{% endblock %}

{% block page_css %}
    {% stylesheets output="bundles/UserBundle/css/registration.css"
    '@RAAFPAGEUserBundle/Resources/public/css/registration.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{#{% block content %}#}
    {#{% block page_content %}#}
        {#<div id="login-page-container">#}
            {#<div id="login-form-container">#}
                {#{% if error %}#}
                    {#<div id="error-message">{{ error.message }}</div>#}
                {#{% endif %}#}

                {#<form action="{{ path('login_check') }}" method="post">#}
                    {#<label for="username">Username:</label>#}
                    {#<input type="text" id="username" name="_username">#}
                    {#<label for="password">Password:</label>#}
                    {#<p><a href="#">Forgot your password?</a></p>#}
                    {#<input type="password" id="password" name="_password">#}
                    {#<div id="lower">#}
                        {#<input type="checkbox"><label class="check" for="checkbox">Keep me logged in</label>#}
                        {#<input type="submit" value="Login">#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
    {#{% endblock %}#}

{% block content %}
    <div id="register-page-container">
        <div id="register-form-container">
            <form id='register' action='' method='post' accept-charset='UTF-8'>
                {#{% if error %}#}
                    {#<div id="error-message">{{ error.message }}</div>#}
                {#{% endif %}#}

                {{ form_errors(form) }}
                {{ form_row( form.email, { 'label': 'Email address:', 'for': 'email' } ) }}

                {{ form_errors( form.username ) }}
                {{ form_row( form.username, { 'label': 'Username:', 'for': 'username' } ) }}

                {{ form_errors( form.password ) }}
                {{ form_row( form.password.first, { 'label': 'Your password:', 'for': 'password' } ) }}
                {{ form_row( form.password.second, { 'label': 'Repeat Password:', 'for': 'Repeat password' } ) }}
                <div id="lower">
                    <input type="submit" value="Submit">
                </div>

                {{ form_rest( form ) }}
            </form>
        </div>
    </div>
{% endblock %}